# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Environment and Key Files
.env
.env.*
*.env
*.pem
*.crt
*.key

# Android Signing & Local Properties
android/local.properties
android/key.properties
*.keystore
*.jks

# Firebase Configurations (Contains API Keys & App Credentials)
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
ios/GoogleService-Info.plist


# IntelliJ / VS Code related
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio build artifacts
/android/app/debug
/android/app/profile
/android/app/release